
  <span class="post_like">
    <% if current_user.voted_up_on? post %>
      <%= link_to '<i class="fa fa-heart fa-2x" aria-hidden="true"></i>'.html_safe, post_downvotes_path(post.id), method: :post, remote: true %> 
    <% else %>
      <%= link_to '<i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>'.html_safe, post_upvotes_path(post.id), method: :post, remote: true %>
    <% end %>
  </span>